@import 'styling';

/* Standard Header Styles */
header{
  padding: .5px;
  color: white;
  ::selection{
    background: white;
    color: $ter;
  }
  background: $prim;
  h1{
    text-align: center;
    span{
      color: $ter;
      ::selection{
        background: $ter;
        color: white;
      }
    }
  }
}

.nav-wrapper{
  background: $ter;
  .brand-logo{
    margin-left: 10px;
  }
}

/* Dashboard Courses*/
.welcome{
}
.course-container{
  .course-box{
    border-radius: 5px;
    margin-bottom: 5%;
    img{
      height: 20vh;
      width: 100%;
    }
    .course-color{
      background: $green;
    }
    .course-name{
      color: $green;
      margin-left: 2%;
    }
    .current-assignment{
      margin-left: 2%;
    }
  }
}
