@import 'styling';


body{
  font-family: 'Quicksand';

}
/* Standard Header Styles */
header{
  padding: .5px;
  color: white;
  ::selection{
    background: white;
    color: $ter;
  }
  background: $prim;
  h1{
    text-align: center;
    span{
      color: $ter;
      ::selection{
        background: $ter;
        color: white;
      }
    }
  }
}

.nav-wrapper{
  background: $ter;
  .brand-logo{
    margin-left: 10px;
  }
}

/* Dashboard Courses*/
.welcome{
  color: #262626;
  padding-left: 8%;
  font-family: 'Julius Sans One', 'Quicksand', san-serif;
  font-size: 35px;
  span{
    border-bottom: 1px solid silver;
  }
}
.course-container{
  font-family: 'Quicksand', san-serif;
  font-size: 18px;

  .course-box{
    border-radius: 5px;
    margin-bottom: 5%;
    img{
      margin-top: 5%;
      height: 20vh;
      width: 100%;
    }
    .course-color{
      background: $green;
    }
    .course-name{
      color: $purple;
      margin-left: 2%;
      &:hover{
        text-decoration: underline;
      }
    }
    .current-assignment{
      margin-left: 2%;
    }
  }
}
